<div class="banner">
  <div class="row navbar-content">
    <div class="col-lg-8">
      <div class="left-navbar">
        <div>
          <p class="logo">RESTAURANT LOGO</p>
        </div>

        <div class="banner-content">
          <h1 class="main-title">Chinese Food</h1>
          <h2 class="subtitle">Discover the delicious world of chinese's food.</h2>
          <p class="btn-my-menu">Go to Menu</p>
        </div>

      </div>
    </div>

    <div class="col-lg-4 right-navbar-content">
      <div class="right-navbar">
        <p><i class="fas fa-sign-in-alt"></i> Login</p>
      </div>
    </div>

    <img class="img-banner-food" src="https://github.com/thiagohrcosta/chinese-restaurant/blob/master/public/img/food1.png?raw=true">
  </div>
</div>

<div class="container">
  <div class="food-menu">
    <div class="row">
      <div class="col-lg-5">
        <div class="food-menu-text">
          <h3>Best chinese food in town</h3>
          <p>Choose your meal and make a reservation.</p>
        </div>
      </div>
      <div class="col-lg-7">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales ac nunc ut placerat. Suspendisse vitae eros accumsan, rutrum metus nec, ultricies odio. Integer commodo quam sapien, eget tempus nisl venenatis id. Proin porttitor efficitur dolor, a sagittis dui vestibulum at. Praesent quis quam risus. Cras posuere tortor eu feugiat fermentum. </p>
      </div>
    </div>
  </div>

  <div class="food-flex">
    <div class="food-box">
      <%= image_tag "food1.jpg", alt: "Médica veterinária", class: "img-food" %>
      <p class="food-item-text">Chinese Food 1</p>
    </div>
    <div class="food-box">
      <%= image_tag "food1.jpg", alt: "Médica veterinária", class: "img-food" %>
    </div>
    <div class="food-box">
      <%= image_tag "food1.jpg", alt: "Médica veterinária", class: "img-food" %>
    </div>
  </div>


</div>
