<div class="banner">
  <div class="row navbar-conten">
    <div class="col-lg-8">
      <div class="left-navbar">
        <div>
          <p>Logo</p>
        </div>

        <h1 class="main-title">Chinese Food</h1>
        <h2 class="subtitle">Discover the delicious world of chinese's food.</h2>
      </div>
    </div>

    <div class="col-lg-4 right-navbar-content">
      <div class="right-navbar">
        <p>Login</p>
      </div>
    </div>
  </div>
</div>
