
.banner{
  background: #FFF5EC;
  height: 100vh;
}

.navbar-content{
  position: relative;
  display: flex;
  justify-content: space-between;

  .right-navbar-content{
    width: 30%;
    height: 100vh;
    background-color: #FE043C;
  }

  .left-navbar{
    padding: 40px;
  }

  .right-navbar{
    text-align: center;
    padding: 40px;
  }

  .main-title{
    font-weight: 900;
    font-size: 80px;
    opacity: 15%;
  }

  .subtitle{
    font-weight: 700;
    color: #2E266F;
  }

  .img-banner-food{
    position: absolute;
    margin-top: 50px;
    margin-left: 45%;
    width: 500px;
  }




}

