
.banner{
  background: #FFF5EC;
  height: 100vh;
}

.navbar-content{
  position: relative;
  display: flex;
  justify-content: space-between;

  .logo{
    font-weight: 700;
    color: #FE043C;
  }

  .right-navbar-content{
    width: 30%;
    height: 100vh;
    background-color: #FE043C;
  }

  .left-navbar{
    padding: 40px;
  }

  .right-navbar{
    color: #FFF5EC;
    text-align: center;
    padding: 40px;
  }

  .banner-content{
    margin-top: 100px;
  }

  .main-title{
    font-weight: 900;
    font-size: 80px;
    opacity: 15%;
  }

  .subtitle{
    width: 70%;
    font-size: 32px;
    font-weight: 700;
    color: #2E266F;
  }

  .img-banner-food{
    position: absolute;
    margin-top: 50px;
    margin-left: 45%;
    width: 500px;
  }

  .btn-my-menu{
    border-radius: 10px;
    text-align: center;
    width: 200px;
    color: #FFF5EC;
    padding: 5px 35px;
    background-color: #FE043C;

  }


}

.btn-find-on-map{
    padding: 20px;
    position: relative;
    background-color: #FE043C;
  }


.food-menu{
  margin-top: 40px;
}
.food-menu-text{
  margin: 10px 0;
  color: #2E266F;
  padding: 5px;
  border-left: 5px solid #FE043C;
}

.food-flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
}

.food-box{
  background-color: #E8E8E8;
  margin: 10px 0;
  border: 1px solid #E8E8E8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.food-item-text{
  font-weight: bold;
  padding: 10px 10px 0;
  text-align: center;
}

.img-food{
  width: 100%;
}
